label(for="streetAddress")
	span Street Address
	input(name="streetAddress" type="text")

label(for="addressLocality")
	span Address Locality
	input(name="addressLocality" type="text")

label(for="addressCity")
	span Address City
	input(name="addressCity" type="text")

label(for="postalCode")
	span Postal Code
	input(name="postalCode" type="text")
