fieldset

	legend Business Information

	label(for="name")
		span Business Name:
		input(name="name")

	label(for="openingHoursSpecification")
		span Opening Hours
		textarea(name="openingHoursSpecification")

	
	label(for="telephone1")
		span Phone Number:
		input(type="tel" name="telephone1")

	
	label(for="telephone2")
		span Phone Number:
		input(type="tel" name="telephone2")

	
	label(for="faxNumber")
		span Fax Number:
		input(type="tel" name="faxNumber")

	
	label(for="email")
		span Email:
		input(type="email" name="email")

	
	label(for="description")
		span Description (50-500 words)
		textarea(name="description") 

	
	label(for="socialMedia")
		span SocialMedia:
		textarea(name="socialMedia")

	
	label(for="additionalInformation")
		span Additional Information
		textarea(name="additionalInformation")
	
