label(for="color-1")
	span Primary Color
	input(type="color" name="color-1" value="#ffffff" required)

label(for="color-2")
	span Secondary Color
	input(type="color" name="color-2" value="#ffffff")

label(for="color-3")
	span Tertiary Color
	input(type="color" name="color-3" value="#ffffff")

label(for="headerFont") 
	span Header Font
	input(type="text" name="headerFont")

label(for="textFont") 
	span Body Font
	input(type="text" name="textFont")
